{% extends 'login/base.html' %}

{% block body %}
  <ul>
    <li>
      <a href="{% url 'reg:simple_upload' %}">Simple Upload</a>
    </li>
    <li>
      <a href="{% url 'reg:model_form_upload' %}">Model Form Upload</a>
    </li>
  </ul>

  <p>Uploaded files:</p>
  <ul>
    {% for obj in documents %}
      <li>
        <a href="{{ obj.document.url }}">{{ obj.document.name }}</a>
        <small>(Uploaded at: {{ obj.uploaded_at }})</small>
      </li>
    {% endfor %}
  </ul>
{% endblock %}