{% extends 'login/base.html' %}
{% load staticfiles %}

{% block body %}
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Upload</button>
  </form>

  <p><a href="{% url 'reg:index' %}">Return to home</a></p>
{% endblock %}